.wayang-kulit-1 {
    width: 300px;
}
.wayang-kulit-2 {
    width: 300px;
}
.wayang-Kulit-3 {
    width: 300px;
}
.cahaya-image {
    width: 300px;
}
.limbong-image {
    width: 300px;
}
.vito-image {
    width: 300px;
}
.gladys-image {
    width: 300px;
}